<section class="header">
  <div class="container">
    <!-- Star Text Content -->
    <div class="contentt d-flex justify-content-center align-items-center">
      <div class="contentt__text">
        <span class="contentt__hello d-block mb-3">Hello There!</span>
        <h1 class="contentt__h1 font-weight-bold">
          I'M 
          <span class="contentt__span">
            Ahmed Badr
          </span>
        </h1>
        <p class="contentt__p">
          I'm a Front end Developer. I strive to build immersive and beautiful web applications through carefully crafted code and user-centric design.
        </p>

        <ul class="contentt__list list-unstyled d-flex flex-wrap justify-content-around mb-4">
          <li class="contentt__item">Front End Developer</li>
          <span class="contentt__line d-flex align-self-center">
          </span>
          <li class="contentt__item">UI Developer</li>
          <span class="contentt__line d-flex align-self-center">
          </span>
          <li class="contentt__item">Web Designer</li>
        </ul>

        <div class="contentt__btn">
          <div class="btns btns--btn mr-4">
            <a class="btns__item" routerLink='about'>
              <i class="btns__icon fa fa-user"></i>
              more about me
            </a>
          </div>
          <div class="btns btns--btn">
            <a class="btns__item" routerLink='portfolio'>
              <i class="btns__icon fas fa-briefcase"></i>
              Portfolio
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Text Content -->
  </div>
</section>
<!-- End Section Header -->
