.form {
  width: 80%;
  margin: auto;
  &__input {
    background-color: var(--bg-color);
    height: 60px;
    color: #fffefeeb;
    padding-left: 20px;
    border-radius: 14px;
    box-shadow: inset 0.3rem 0.3rem 0.4rem #202125, inset -0.3rem -0.3rem 0.4rem #3e3e3e;
  }
}
.formimg {
  &__label {
    background-color: #474747;
    color: #fffefeb0;
    font-size: 16px;
    padding: 8px 12px; 
    border-radius: 4px;
    cursor: pointer;
  }
  &__input {
    top: 6px;
    left: 62px;
    color: rgb(153,153,153);
    font-size: 15px;
    z-index: -1;
  }
}

